@model users
@{
    ViewData["Title"] = "Detail";
}
<h1>User Detail</h1>


    <div class="form-group">
        <label class="col-form-label" asp-for="Username" ></label>
        <input asp-for="Username" readonly class="form-control" />
        
    </div>
    <div class="form-group">
        <label class="col-form-label"  asp-for="Email"></label>
        <input asp-for="Email" readonly class="form-control" />
       
    </div>
    <div class="form-group">
        <label class="col-form-label"  asp-for="First_Name"></label>
        <input asp-for="First_Name" readonly class="form-control" />
       
    </div>
    <div class="form-group">
        <label class="col-form-label"  asp-for="Last_Name"></label>
        <input asp-for="Last_Name" readonly class="form-control" />
    </div>
    <div class="form-group">
        <label class="col-form-label"  asp-for="Date_Of_Birth"></label>
        <input type="date" asp-for="Date_Of_Birth" readonly class="form-control" />
    </div>
        
<div class="form-group">
    <label class="col-form-label" asp-for="Status"></label>
    <input asp-for="Status" readonly class="form-control" />
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Gender"></label>
    <input asp-for="Gender" readonly class="form-control" />

</div>



<br />
    <br />
    <br />
    <a type="submit" value="Edit" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>

    <a asp-action="Index" class="btn btn-light">Back to List</a>


